<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="../assets/icon_phone.png" />
  <span>Bienvenido a mioperadormovil.com</span>
</div>
<br />
<br />
<br />
<p-toast position="top-center"></p-toast>
<p-panel header="Busca el operador móvil de cualquier número">
  <div class="card">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-12">

        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>
          <input type="number" pInputText placeholder="Número telefónico a 10 dígitos" [(ngModel)]="phoneNumber"
            pTooltip="Escribe el número a 10 digitos" tooltipPosition="bottom">
        </span>

      </div>
      <div class="p-field p-col-12 p-md-6">
        <button pButton pRipple type="button" label="Buscar" (click)="getPnnByNumber()"></button>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <button pButton pRipple type="button" label="Limpiar" class="p-button-secondary" (click)="limpiar()"></button>
      </div>
      <div class="p-field p-col-12 p-md-12">
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" *ngIf="pbLoading"></p-progressBar>
      </div>
    </div>
  </div>
  <p-table [value]="pnns" styleClass="p-datatable-responsive-demo">
    <ng-template pTemplate="header">
      <tr>
        <th>poblacion</th>
        <th>municipio</th>
        <th>estado</th>
        <th>razon_social</th>
        <th>nombre_corto</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pnn>
      <tr>
        <td><span class="p-column-title">poblacion</span>{{pnn.poblacion}}</td>
        <td><span class="p-column-title">municipio</span>{{pnn.municipio}}</td>
        <td><span class="p-column-title">estado</span>{{pnn.estado}}</td>
        <td><span class="p-column-title">razon_social</span>{{pnn.razon_social}}</td>
        <td><span class="p-column-title">nombre_corto</span>{{pnn.nombre_corto}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">
          Todavia no hay resultados para tu busqueda
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<router-outlet></router-outlet>
